.coinTitleDiv{
  background-color : var(--super-dark-grey);
  color: var(--light-grey);
  border-radius : 10px; 
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px var(--middle-grey);
  margin : 1.2rem 5rem;
  display: flex;
  flex-wrap : wrap;
  align-items: center;
  justify-items: space-around;
  font-family : var(--font-title);
  font-size: 1rem;
}

.titleBtnStyle{
  padding: 1.5rem 0.7rem;
  width: 80%;
  font-size: 1.5rem;
  background-color: var(--super-dark-grey);
  border: none;
  font-family : var(--font-title);
  color : var(--light-grey);
  outline : none;
  margin-bottom : 0.5rem;
}

.infoName, .infoPrice{
  font-weight: 800;
  flex: 0.65; 
}

.infoSymbol, .infoMarketCap{
  flex: 0.5;
}

.infoTitle{
  flex: 0.2;
  text-align: center;
}

.infoRank{
  flex: 0.3;
  margin-left: 1rem;
}

.infoChange{
  flex: 0.2;
  margin-right: 2rem;
  margin-left: 0.1rem;
}

.upDownIcon{
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
}

.iconStyle{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left : 0.5rem;
}

.highlightText{
  border-bottom : 3px solid var(--yellow);
}

.clicked{
  color: var(--green);
  font-size : 1.5rem;
}

/* Media queries */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
  .coinTitleDiv{
    position: fixed;
    left: 0;
    margin : 1.2rem 0;
    display: flex;
    flex-direction : column;
    font-size : 1.1rem;
    box-shadow: 0px 1px 1px 0.2px var(--middle-grey);
  }

  .infoName, .infoPrice, .infoSymbol, .infoMarketCap, .infoRank, .infoChange{
    font-weight: 800;
    flex: 0.2;
  }

  .titleBtnStyle{
    font-size: 1.1rem;
    background-color: var(--super-dark-grey);
    font-family : var(--font-title);
    color : var(--light-grey);
    outline : none;
    display: flex;
    border-top : 1px solid var(--light-grey);
    padding: 20px;
  }

  .upDownIcon{
    flex: 1;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    vertical-align: middle;
  }

  .iconStyle{
    width: 100%;
    text-align: center;
    margin-left : 0.5rem;
  }

  .separateLine{
    display: none;
  }

  .infoMarketCap, .infoRank, .infoChange{
    margin : 1rem auto;
  }

  .clicked{
    color: var(--green);
    font-size : 1.2rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .titleBtnStyle{
    padding: 15px;
  }
}