.coinTitleDiv{
  background-color : var(--super-dark-grey);
  color: var(--light-grey);
  border-radius : 10px; 
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px var(--middle-grey);
  margin : 1.2rem 5rem;
  display: flex;
  flex-wrap : wrap;
  align-items: center;
  justify-items: space-around;
  font-family : var(--font-title);
  font-size: 1rem;
}

.titleBtnStyle{
  padding: 1.5rem 0.7rem;
  width: 80%;
  font-size: 1rem;
  background-color : var(--super-dark-grey);
  border: none;
  color : var(--light-grey);
  font-family : var(--font-title);
  outline : none;
}

.titleBtnStyle:focus{
  background-color : var(--light-grey);
  color: var(--super-dark-grey);
}

.infoName, .infoPrice{
  font-weight: 800;
  color : var(--light-grey);
  flex: 0.65; 
}

.infoSymbol, .infoMarketCap{
  flex: 0.5;
}

.infoTitle{
  flex: 0.2;
  text-align: center;
}

.infoRank{
  flex: 0.3;
  margin-left: 1rem;
}

.infoChange{
  flex: 0.2;
  margin-right: 2rem;
  margin-left: 0.1rem;
}

span{
  color: var(--middle-grey);
}

.iconStyle{
  font-size : 1.5rem;
  padding-left: 1rem;
  position : relative;
  top: calc(50% - 0.75rem);
}
