.searchInput {
  width: 50%;
  color: var(--super-dark-grey);
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border: 2.5px solid var(--middle-grey);
  margin : 2rem;
  font-family : var(--font-content);
}

.searchInput:focus {
  outline : 2px solid var(--green);
  background-color : var(--light-yellow);
  text-align: center;
  font-size: 1.2rem;
  font-family : var(--font-content);
}