.App {
  text-align: center;
}

:root{
  /* color */
  --black :#010101;
  --super-dark-grey : #181818;
  --light-yellow :#FFFF33;
  --yellow :#ffd601;
  --middel-grey : #d3d3d3;
  --light-grey : #f1f1f1;
  --red : #f93d34;
  --green : #2fbb64;
}