.App {
  text-align: center;
}

:root{
  /* color */
  --super-dark-grey: #181818;
  --dark-grey : #5a5a5a;
  --light-yellow :rgb(255, 255, 206);
  --yellow : #f2dd6e;
  --middle-grey : #d3d3d3;
  --light-grey : #f1f1f1;
  --red : #f93d34;
  --green : #17b890;
  /* font */
  --font-title : 'Merriweather', 'Josefin Sans';
  --font-content : 'Montserrat Alternates', 'sans-serif';
}
